@font-family: "PT Sans", Arial, sans-serif;
@font-size: 18px;
@line-height: 18px;
@white: #ffffff;
@text-color: @dark-gray;
@dark-gray: #333333;

body {
  font: @font-size/@line-height @font-family;
  color: @text-color;
  background: @white;
}
