.feature-image {
    background-color: @white;
    max-height: 253px;
        img {
            width: @width;
        }
}
@media(min-width: @screen-md) {
    .feature-image {
        overflow: hidden;
        flex-grow: 1;
    }
}
