.feature {
    padding-left: @padding-left;
    padding-right: @padding-right;
    position: relative;
        &__title {
            .title;
        }
        &--blue {
            background-color: @blue;
            color: @white;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &--promo {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &--promo:after {
            content: "";
            background: url('../img/other/feature-mask.png') no-repeat center;
            position: absolute;
            width: @width;
            height: 37px;
            bottom: -15px;
            left: 0;
            z-index: 2;
        }
        &--left-align {
            text-align: left;
            padding-left: 70px;
            padding-top: 15px;
        }
        &__icon {
            position: relative;
        }
        &__icon--home:after {
            content: "";
            background: url('../img/sprites/feature-icons.png') no-repeat 0 0;
            position: absolute;
            width: @width;
            height: 38px;
            width: 36px;
            left: -50px;
            top: 5px;
        }
        &__icon--food:after {
            content: "";
            background: url('../img/sprites/feature-icons.png') no-repeat 0 -47px;
            position: absolute;
            width: @width;
            height: 38px;
            width: 36px;
            left: -50px;
            top: 5px;
        }
        &__icon--gift:after {
            content: "";
            background: url('../img/sprites/feature-icons.png') no-repeat 0 -92px;
            position: absolute;
            width: @width;
            height: 38px;
            width: 36px;
            left: -50px;
            top: 5px;
        }
}
@media(min-width: @screen-md) {
    .feature {
        &--promo {
            padding-left: 133px;
            padding-right: 133px;
        }
        &--promo:after {
            display: none;
        }
        &--blue {
            width: 33.3333%;
            padding-top: 50px;
        }
        &--left-align {
            text-align: center;
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &__icon--home:after {
            width: 76px;
            height: 76px;
            background: url('../img/sprites/tbl-feature-icons.png') no-repeat 0 0;
            left: 63px;
            top: -80px;
        }
        &__icon--food:after {
            width: 76px;
            height: 76px;
            background: url('../img/sprites/tbl-feature-icons.png') no-repeat 0 -82px;
            left: 65px;
            top: -80px;
        }
        &__icon--gift:after {
            width: 76px;
            height: 76px;
            background: url('../img/sprites/tbl-feature-icons.png') no-repeat 0 -162px;
            left: 58px;
            top: -80px;
        }
        &--left {
            order: 1;
        }
    }
}
