input[type="text"]::-webkit-input-placeholder {
    color: @dark-gray;
}
input[type="text"]:hover {
    background-color: @input-hvr;
    border: 4px solid @input-hvr;
}
input[type="date"]:hover {
    background-color: @input-hvr;
    border: 4px solid @input-hvr;
}
input[type="text"]:focus {
    background-color: @white;
    border: 4px solid @input-hvr;
}
input[type="date"]:focus {
    background-color: @white;
    border: 4px solid @input-hvr;
}
input[type="radio"] + label {
    position: relative;
    display: block;
    cursor: pointer;
    text-align: right;
    padding-right: 15px;
}
input[type="radio"] {
    display: none;
}
.input-round[type="radio"]:first-of-type + label {
    margin-bottom: 40px;
}
input[type="radio"] + label {
    margin-top: 25px;
}
.input-round[type="radio"] + label:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 17px solid @checkbox-gray;
    background-color: @checkbox-gray;
}
.input-round[type="radio"] + label:hover:after {
    background-color: @input-hvr;
    border: 17px solid @input-hvr;
}
.input-round[type="radio"] + label:active:after {
    background-color: @radio-active;
    color: #a4a4a4;
    border: 17px solid @radio-active;
}
.input-round[type="radio"]:checked + label:after {
    background-color: @dark-gray;
}
.input-round[type="radio"]:checked + label:active:after {
    background-color: #a4a4a4;
}
.input-square[type="checkbox"] {
    display: none;
}
.input-square[type="checkbox"] + label {
    text-align: left;
    position: relative;
    display: block;
    padding-left: 80px;
    margin-bottom: 55px;
    cursor: pointer;
    border-radius: 2px;
}
.input-square[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 55px;
    height: 55px;
    background-color: @checkbox-gray;
    cursor: pointer;
}
.input-square[type="checkbox"] + label:hover:after {
    background-color: @input-hvr;
}
.input-square[type="checkbox"] + label:active:after {
    background: url('../img/other/checkbox-active.png') no-repeat center;
    background-color: @radio-active;
}
.input-square[type="checkbox"]:checked + label:hover:after {
    background-color: @input-hvr;
}
.input-square[type="checkbox"]:checked + label:after {
    background: url('../img/other/checkbox.png') no-repeat center;
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: @checkbox-gray;
}

.input-square[name="attraction-4"] + label {
    margin-bottom: 15px;
}
input[type="file"] {
    display: none;
}
.choose-label {
    .input-field;
    padding: 18px 0 18px 0;
    width: 278px;
    margin-bottom: 60px;
    margin-top: 0;
    font-size: @font-size + 7;
    line-height: @line-height + 5;
    color: @gray;
    text-transform: uppercase;
    cursor: pointer;
}
.choose-label:hover {
    background-color: @input-hvr;
    color: #8c8c8c;
}
.choose-label:active {
    background-color: #d5d5d5;
    color: #afafaf;
}
input[type="radio"] + label {
    padding-left: 70px;
    padding-right: 20px;
}
@media(min-width: @screen-md) {
    .choose-label {
        width: 455px;
        margin: auto;
        margin-top: 44px;
    }
    .input-square[type="checkbox"] + label:after {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 55px;
        height: 55px;
        border-radius: 2px;
        background-color: @checkbox-gray;
    }
    .input-square[type="checkbox"]:checked + label:after {
        background: url('../img/other/checkbox.png') no-repeat center;
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: @checkbox-gray;
    }
    .input-square[type="checkbox"] + label {
        margin-bottom: 15px;
        text-align: left;
        padding-left: 80px;
        position: relative;
        margin-top: 45px;
    }
    .input-square[name="attraction-4"] + label {
        margin-bottom: 15px;
    }
    .input-round[type="radio"]:first-of-type + label {
        margin-right: 140px;
    }
    input[type="radio"] + label {
    padding-right: 0;
    }
    .choose-label {
        margin-top: 24px;
        margin-bottom: 10px;
    }
}
@media(min-width: @screen-desctop) {
    .input-round[type="radio"]:first-of-type + label {
        margin-left: 180px;
        margin-right: 0;
    }
    .input-round[type="radio"]:first-of-type + label:after {
        left: -9px;
    }
    .input-round[type="radio"]:last-of-type + label {
        padding-left: 18px;
    }
    .input-round[type="radio"]:last-of-type + label:after {
        left: -60px;
    }
    .choose-label {
        display: none;
    }
}
