.main-footer {
    padding-top: @main-footer-padding;
    &__hashtag {
        font-size: @font-size + 7;
        line-height: @line-height + 5;
        font-weight: bold;
        padding-bottom: @main-footer-padding;
    }
}
@media(min-width: @screen-md) {
    .main-footer {
        display: flex;
        justify-content: space-around;
        padding-top: @main-footer-padding - 8;
        &__hashtag {
            padding-top: 12px;
            width: 33.333333%;
        }
    }
}
@media(min-width: @screen-desctop) {
    .main-footer {
        padding-top: @main-footer-padding;
        &__hashtag {
            width: 33.333333%;
        }
    }
}
