.offer {
    &__title {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    &__button {
        display: inline-block;
        text-decoration: @text-decoration;
        color: @white;
        background-color: @blue;
        font-size: @font-size + 7;
        line-height: @line-height + 5;
        font-weight: bold;
        width: 278px;
        padding-top: @offer-button-padding;
        padding-bottom: @offer-button-padding;
        margin-bottom: 47px;
    }
    &__button:hover {
        background-color: @hvr-blue;
    }
    &__button:disabled {
        background-color: @btn-disabled;
    }
    &__button:visited {
        background-color: @visited-blue;
        color: @visited-color-blue;
    }
    &__text {
        padding-bottom: 20px;
        width: 262px;
        margin: 0 auto;
    }
}
@media(min-width: @screen-md) {
    .offer {
        &__title {
            font-size: @font-size + 16;
            padding-top: 37px;
            padding-bottom: 10px;
        }
        &__button {
            width: 456px;
        }
        &__text {
            padding-bottom: 50px;
        }
        &__button {
            margin-bottom: 57px;
        }
        &__text {
            width: 456px;
            margin: 0 auto;
        }
    }
}
