.photo-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 280px;
        &__item {
            min-width: 80px;
            min-height: 70px;
            position: relative;
        }
        &__delete {
            position: absolute;
            display: block;
            background: url('../img/Other/delite-photo.png') no-repeat center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            top: -15px;
            left: 25px;
        }
        &__item:not(:last-child) {
            flex-grow: 1;
        }
}
@media(min-width: @screen-md) {
    .photo-preview {
        width: 550px;
        margin: 0 auto;
        justify-content: space-between;
        &__item {
            min-width: 140px;
            min-height: 140px;
        }
        &__item:nth-of-type(2) {
             display: none;
         }
        &__item:not(:last-child) {
            flex-grow: 0;
        }
        &__image {
            width: 100%;
        }
    }
}
