.promo-photo {
    position: relative;
    background-color: @white;
    overflow: hidden;
    min-height: 388px;
    max-height: 388px;
        &:after {
            content: "";
            background: url('../img/other/mask.png') no-repeat center;
            position: absolute;
            width: @width;
            height: 27px;
            bottom: -1px;
            left: 0;
        }
        &__image {
            display: block;
        }
}
.promo-photo-form {
    .promo-photo;
    max-height: 160px;
}
@media(min-width: @screen-md) {
    .promo-photo {
        min-height: 512px;
        max-height: 512px;
        &:after {
                background: url('../img/other/tablet-mask.png') no-repeat center;
                position: absolute;
                height: 40px;
                bottom: -3px;
        }
    }
    .promo-photo-form {
        min-height: 288px;
        &:after {
                background: url('../img/other/tablet-mask.png') no-repeat center;
                position: absolute;
                height: 40px;
                bottom: -2px;
        }
    }
}
@media(min-width: @screen-desctop) {
    .promo-photo {
        &:after {
            background: url('../img/other/desctop-index-mask.png') no-repeat center;
            position: absolute;
            width: @width;
            height: 57px;
            bottom: -1px;
            left: 0;
        }
        &__image {
            width: @width;
        }
    }
}

