.promo-photo {
    position: relative;
    background-color: @white;
    overflow: hidden;
    max-height: 160px;
    background: url('../img/context/promo-photo.jpg') no-repeat center;
        &:after {
            content: "";
            background: url('../img/other/mask.png') no-repeat center;
            position: absolute;
            width: @width;
            height: 27px;
            bottom: -1px;
            left: 0;
        }
        &__image {
            display: block;
        }
}
@media(min-width: @screen-md) {
    .promo-photo {
        max-height: 388px;
        &--form {
            background: url('../img/context/tablet-promo.jpg') no-repeat center;
            &:after {
                background: url('../img/other/tablet-mask.png') no-repeat center;
                position: absolute;
                height: 40px;
                bottom: -2px;
            }
        }
    }
}
