.social {
    &__btn {
        display: inline-block;
        width: 45px;
        height: 48px;
        font: 0/0 serif;
    }
    &__btn:hover {
        background-color: @hvr-blue;
    }
    &__btn:disabled {
        background-color: @btn-disabled;
    }
    &__btn:visited {
        background-color: @visited-blue;
         color: @visited-color-blue;
    }
    &__btn--tw {
        background: @blue url('../img/sprites/social-sprite.png') no-repeat 14px 17px;
        vertical-align: top;
    }
    &__btn--fb {
        background: @blue url('../img/sprites/social-sprite.png') no-repeat -51px 15px;
        vertical-align: top;
    }
    &__btn--ytb {
        background: @blue url('../img/sprites/social-sprite.png') no-repeat -115px 17px;
        vertical-align: top;
    }
}
